/**/

body {
	margin: 0;
}

#banner {
	margin-bottom: 1rem;
	padding: 1rem;
	color: black;
	background-color: chartreuse;
}

#main-table {
	margin: auto;
	border-collapse: collapse;
}

#main-table td {
	border: medium solid black;
}

#links {
	list-style-type: disclosure-closed;
}

#bio {
}
